bin/
*.swp
*~
data_dirs/
*.o
rodinia-3.1/backprop/obj_*
rodinia-3.1/mummergpu/lib/
rodinia-3.1/mummergpu/src/obj_*
rodinia-3.1/nn/hurricane_gen
rodinia-3.1/nn/nn_cuda.cu.cpp.ii
rodinia-3.1/b+tree/b+tree.out
rodinia-3.1/dwt2d/dwt2d
rodinia-3.1/heartwall/heartwall
rodinia-3.1/huffman/pavle
rodinia-3.1/hybridsort/hybridsort
rodinia-3.1/myocyte/myocyte.out
rodinia-3.1/leukocyte/*.o
rodinia-3.1/leukocyte/meschach_lib/confdefs.h
rodinia-3.1/leukocyte/meschach_lib/config.log
parboil/benchmarks/**/build/
polybench-3.2/**/*.exe
cutlass-bench/build/
lonestargpu-2.0/apps/bfs/bfs
lonestargpu-2.0/apps/bfs/bfs-atomic
lonestargpu-2.0/apps/bfs/bfs-wla
lonestargpu-2.0/apps/bfs/bfs-wlc
lonestargpu-2.0/apps/bfs/bfs-wlw
lonestargpu-2.0/apps/bh/bh
lonestargpu-2.0/apps/dmr/dmr
lonestargpu-2.0/apps/mst/mst
lonestargpu-2.0/apps/pta/core.42260
lonestargpu-2.0/apps/sp/nsp
lonestargpu-2.0/apps/sssp/sssp
lonestargpu-2.0/apps/sssp/sssp-wlc
lonestargpu-2.0/apps/sssp/sssp-wln