bin/
*.swp
*~
data_dirs/
*.o
cmake-3.15.1/
lonestargpu-6.0/build/
rodinia-3.1/backprop/obj_*
rodinia-3.1/mummergpu/lib/
rodinia-3.1/mummergpu/src/obj_*
rodinia-3.1/nn/hurricane_gen
rodinia-3.1/nn/nn_cuda.cu.cpp.ii
rodinia-3.1/b+tree/b+tree.out
rodinia-3.1/dwt2d/dwt2d
rodinia-3.1/heartwall/heartwall
rodinia-3.1/huffman/pavle
rodinia-3.1/hybridsort/hybridsort
rodinia-3.1/myocyte/myocyte.out
rodinia-3.1/leukocyte/*.o
rodinia-3.1/leukocyte/meschach_lib/confdefs.h
rodinia-3.1/leukocyte/meschach_lib/config.log
Parboil/benchmarks/**/build/
polybench-3.2/**/*.exe
cutlass-bench/build/
lonestargpu-2.0/apps/bfs/bfs
lonestargpu-2.0/apps/bfs/bfs-atomic
lonestargpu-2.0/apps/bfs/bfs-wla
lonestargpu-2.0/apps/bfs/bfs-wlc
lonestargpu-2.0/apps/bfs/bfs-wlw
lonestargpu-2.0/apps/bh/bh
lonestargpu-2.0/apps/dmr/dmr
lonestargpu-2.0/apps/mst/mst
lonestargpu-2.0/apps/pta/core.42260
lonestargpu-2.0/apps/sp/nsp
lonestargpu-2.0/apps/sssp/sssp
lonestargpu-2.0/apps/sssp/sssp-wlc
lonestargpu-2.0/apps/sssp/sssp-wln
cudnn-11.3-linux-x64-v8.2.0.53.tgz
gnnmark/data
gnnmark/STGCN/data/*
gnnmark/STGCN/__pycache__/*
gnnmark/KGNN/data/*
gnnmark/KGNN/__pycache__/*
gnnmark/KGNN/k_gnn/__pycache__/*
gnnmark/KGNN/build/*
gnnmark/KGNN/dist/*
gnnmark/KGNN/.eggs/*
gnnmark/KGNN/k_gnn.egg-info/*
gnnmark/DeepGCN/__pycache__/*
gnnmark/DeepGCN/log/*
gnnmark/DeepGCN/dataset/*
gnnmark/PinSAGE/data/*
gnnmark/PinSAGE/__pycache__/*
gnnmark/TreeLSTM/__pycache__/*
gnnmark/GraphWriter/__pycache__/*
gnnmark/GraphWriter/data/*
gnnmark/GraphWriter/data.pickle
gnnmark/GraphWriter/saved_model.pt0
gnnmark/GraphWriter/saved_model.ptbest
gSuite/*.d
gSuite/*.slo
gSuite/*.lo
gSuite/*.o
gSuite/*.obj
gSuite/*.gch
gSuite/*.pch
gSuite/*.so
gSuite/*.dylib
gSuite/*.dll
gSuite/*.mod
gSuite/*.smod
gSuite/*.lai
gSuite/*.la
gSuite/*.a
gSuite/*.lib
gSuite/*.exe
gSuite/*.out
gSuite/*.app
gSuite/*.nvprof
gSuite/*.cfg
gSuite/*.pb
gSuite/__pycache__/
gSuite/experiment
gSuite/py
gSuite/fig
gSuite/cpu